*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  min-height: 100%;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  display: block;
}
body,
p {
  color: #000000;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}
h1 {
  font-weight: bold;
  font-size: 26pt;
}
h2 {
  font-weight: normal;
  font-size: 14pt;
}

.content-container p{
  padding: 5% 0;
}
.logo-container{
    height: 80px;
}

.logo-container img {
  height: 100%;
  display: block;
}



.row-left {
  float: left;
}
.row-right {
  float: right;
}

.menu-list > li {
  display: inline-block;
}
.menu-list > li a {
  line-height: 30px;
}
.menu-list li a:hover {
  border-bottom: 3px solid black;
}
.reverse-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
@media screen and (min-width: 1024px) {
  .toggle {
    display: none;
  }

  .col {
    margin: 5%;
  }
  .icerik {
    width: 100%;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  .reverse-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .dik-12-6 {
    width: 50%;
  }
  .dik-k-12 {
    width: 100%;
  }
  .reverse-left {
    order: 1;
    width: 500px;
  }

  .mobile-menu-container {
    display: none;
  }
  .main-content {
    margin-top: 50px;
  }
}
.dik-o-6 {
  width: 50%;
}

.content-frame {
  display: flex;
  align-items: center;
  padding: 5%;
}
.reverse-right {
  position: relative;
  width: 400px;
  order: 1;
}

.content-container {
  position: relative;
}
.content-container h1 {
  line-height: 1.5em;
}

.content-image-container img {
  width: 100%;
  display: block;
}

.icerik-tam {
  width: 100%;
  position: relative;
  float: left;
}
.content-image-container img {
  width: 100%;
  display: block;
}

.top-menu-container,
.main-menu-container {
  display: block;
}
.main-menu-container {
  line-height: 80px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  
  z-index: 10;
  float: left;
  width: 100%;
}

.top-menu-container a {
  color: white;
  padding-left: 20px;
}

.menu-link {
  margin-right: 40px;
}
li:last-child .menu-link {
  margin-right: 0;
}

.cta {
  border: 3px solid #fdc64b;
  padding: 10px 30px;
  border-radius: 30px;
  display: block;
  max-width: 150px;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  margin: 10px 0;
}
.cta:hover {
  background-color: #fdc64b;
  border: 3px solid #fdc64b !important;
}


.large-subtitle {
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.4em;
  margin-top: 30px;
  margin-left: 30px;
}

.top-menu-container {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: black;
  color: #ffffff;
}
.border {
  border-radius: 30px;
  border: solid #fdc64b 2px;
}

.border:hover {
  border-radius: 10px;
}

.btn-buy {
  position: relative;
  bottom: -50px;
  width: max-content;
}

a {
  color: #21282f;
  text-decoration: none;
}
.main-content {
  margin-top: 0px;
}

@media screen and (max-width: 768px) {
  .reverse-left {
    position: relative;
    width: 350px;

    order: 2;
  }
  .close-toggle-btn {
    position: fixed;
    font-size: 20pt;
    top: 5%;
    right: 15%;
  }

  .top-menu-container,
  .main-menu-container {
    display: none;
  }
  .content-frame {
    display: flex;
    align-items: center;
    padding: 5%;
   
  }

  .nav-links {
    list-style: none;
    display: none;
  }

  .top-menu-content {
    display: none;
  }

  .logo-container {
    height: 80px;
  }
  .logo-container a img {
    height: 100%;
    padding: 20px 0;
    display: block;
  }

  .str {
    float: left;
    position: relative;
    width: 100%;
  }
  .str:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .col {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .btn-img {
    height: 25px;
    width: 25px;
  }
  .menu-icon {
    cursor: pointer;
  }
}

.mobile-menu-container {
  width: 100%;
  z-index: 10;
  background: white;
}

.mobile-logo-container {
  height: 50px;
}
.mobile-logo-container img {
  height: 100%;
  display: block;
  padding: 10px 0;
}

.mobile-menu-bar {
  padding: 0 40px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  float: left;
  width: 100%;
}

.mobile-menu-button i {
  line-height: 50px;
}
.mobile-menu-button:hover {
  cursor: pointer;
}
.mobile-menu-content ul {
  list-style: none;
}
.mobile-menu-content {
  padding: 20px;
  background-color: black;
  float: left;
  position: fixed;
  display: none;
  z-index: 1;
  width: 100%;
  color: white;
}
.mobile-menu-content ul li a {
  text-decoration: none;
  color: #ffffff;
}

.mobile-menu-list {
  padding: 40px;
}

.mobile-menu-list > li {
  border-bottom: 1px solid #eee;
  line-height: 35px;
  margin: 10px 0;
}

.mobile-submenu li {
  line-height: 30px;
}

.mobile-menu-list > li:last-child {
  border: none;
}
#social-menu {
  display: table;
}
#social-menu li {
  display: table-cell;
}

#social-menu li a {
  display: block;
  margin-right: 15px;
  width: 30px;
  height: 30px;
}

#social-menu li a i {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #000000;
  font-size: 20px;
}
#social-menu li a i:hover {
  background-color: #f0cf89;
  border: 1px solid #fdc64b !important;
}

/*
.nav-links span a {
  list-style: none;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: inherit;
}

.logo {
    display: inline-block;
    height: 100%;
}
.header-links ul li a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;
}
.header-links ul li:hover {
    background-color: inherit;
}

.header-links ul li:hover a {
    color: inherit;
}

.logo img {
    height: 100%;
    vertical-align: middle;
}
.content {
    display: flex;
    justify-content: space-around;
}


.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

   .menu {
        padding: 30px;
        position: fixed;
        display: block;
        float:left;
        background-color: black;
        color: white;
        width: 100%;
        overflow-y: auto;
        z-index: 1;
    }

    nav {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

/*
.header {
   
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

   /*.navbar {
        height: 50px;
        width: 100%;
        padding: 5px 30px;
        justify-content: space-between;
        
        -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
    }
*/
